{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "knqyf263/pet"
brew "ansifilter"
brew "xz"
brew "axel"
brew "bash"
brew "bat"
brew "readline"
brew "sqlite"
brew "black"
brew "bzip2"
brew "chezmoi"
brew "eza"
brew "fastfetch"
brew "gcc"
brew "gitui"
brew "glib"
brew "gnupg"
brew "htop"
brew "imagemagick"
brew "iperf3"
brew "jq"
brew "mas"
brew "mosh"
brew "neovim"
brew "node"
brew "onefetch"
brew "pinentry-mac"
brew "ripgrep"
brew "ruff"
brew "rye"
brew "speedtest-cli"
brew "squirrel"
brew "starship"
brew "telnet"
brew "tmux"
brew "trash-cli"
brew "wget"
brew "zlib"
brew "zoxide"
brew "zsh"
brew "knqyf263/pet/pet"
cask "adguard"
cask "alacritty"
cask "aldente"
cask "firefox"
cask "font-caskaydia-cove-nerd-font"
cask "font-lxgw-wenkai"
cask "google-chrome"
cask "iina"
cask "imazing"
cask "input-source-pro"
cask "istat-menus"
cask "jordanbaird-ice"
cask "logi-options-plus"
cask "maczip"
cask "obsidian"
cask "plex"
cask "raycast"
cask "squirrel"
cask "surge"
cask "syncthing"
cask "tailscale"
cask "telegram"
cask "typora"
cask "visual-studio-code"
cask "visual-studio-code@insiders"
cask "wechat"
cask "wezterm"
cask "wireshark"
mas "Bitwarden", id: 1352778147
mas "iShot", id: 1485844094
mas "Microsoft Remote Desktop", id: 1295203466
mas "QianJi", id: 1473785373
mas "Spark Desktop", id: 6445813049
mas "TestFlight", id: 899247664
vscode "asvetliakov.vscode-neovim"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "charliermarsh.ruff"
vscode "davidanson.vscode-markdownlint"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.code-runner"
vscode "foxundermoon.shell-format"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "gruntfuggly.todo-tree"
vscode "jdinhlife.gruvbox"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-toolsai.jupyter"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-toolsai.vscode-jupyter-cell-tags"
vscode "ms-toolsai.vscode-jupyter-slideshow"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.remote-wsl"
vscode "ms-vscode-remote.vscode-remote-extensionpack"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "sainnhe.gruvbox-material"
vscode "shd101wyy.markdown-preview-enhanced"
vscode "vscode-icons-team.vscode-icons"
vscode "yzhang.markdown-all-in-one"

EOF
{{ end -}}
