{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask", "https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-cask.git"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core", "https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"
tap "knqyf263/pet"
# tap "mistertea/et"

brew "ansifilter"
brew "openssl@1.1"
brew "axel"
brew "bash"
brew "bat"
brew "black"
brew "bzip2"
brew "chezmoi"
brew "exa"
brew "gcc"
brew "gitui"
brew "readline"
brew "sqlite"
brew "xz"
brew "glib"
brew "gnupg"
brew "htop"
brew "imagemagick"
brew "iperf3"
brew "jq"
brew "mas"
brew "mosh"
brew "neofetch"
brew "neovim"
brew "node"
brew "onefetch"
brew "pinentry-mac"
brew "python@3.9"
brew "ripgrep"
brew "ruff"
brew "speedtest-cli"
brew "squirrel"
brew "starship"
brew "telnet"
brew "tmux"
brew "trash-cli"
brew "wget"
brew "zlib"
brew "zoxide"
brew "zsh"

brew "knqyf263/pet/pet"
# brew "mistertea/et/et"

cask "adguard"
cask "alacritty"
cask "clash-for-windows"
cask "clashx-pro"
cask "firefox"
cask "font-caskaydia-cove-nerd-font"
cask "font-lxgw-wenkai"
cask "google-chrome"
cask "iina"
cask "imazing"
cask "input-source-pro"
cask "maczip"
cask "obsidian"
cask "plex"
cask "raycast"
cask "squirrel"
cask "surge"
cask "syncthing"
cask "tencent-lemon"
cask "typora"
cask "visual-studio-code"
cask "visual-studio-code-insiders"
cask "wechat"
cask "wezterm"
cask "wireshark"

EOF
{{ end -}}
