{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

set -eufo pipefail

packages=(
    curl
    git
    zsh
)
pip_packages=()

{{ if .personal_secrets }}
packages+=(gnupg)
{{ end }}

{{ if .install_more_packages }}
packages+=(
    axel
    bat
    exa
    fd-find
    htop
    iproute2
    neofetch
    neovim
    npm
    ripgrep
    tmux
    trash-cli
    unzip
    vim
    wget
    xclip
    zoxide
)

pip_packages+=(
    thefuck
    tldr
)
{{ end }}

# apt/pacman
get_package_manager() {
    if grep -Eqi "debian|raspbian" /proc/version; then
        PKG="apt"
        INSTALL_PARAM='install -y'
    elif grep -Eqi "archlinux" /proc/version; then
        PKG="pacman"
        INSTALL_PARAM="-Sy --noconfirm"
    fi
}

get_current_user() {
    if [ `whoami` == "root" ]; then
        USER="root"
    else
        USER=`whoami`
    fi
}

get_package_manager
get_current_user
[ $USER == "root" ] && {
    $PKG $INSTALL_PARAM ${packages[@]}
} || {
    sudo $PKG $INSTALL_PARAM ${packages[@]}
}

if (( ${#pip_packages[@]} > 0 )); then
    [ -d "$HOME/.rye" ] && {
        for package in ${pip_packages[@]}
        do
            "${HOME}/.rye/shims/rye" install -f $package
        done
    }
fi

{{- end -}}
