{{/* git user.email */}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "Email: " -}}
{{- end -}}

{{/* git user.name */}}
{{- $name := "" -}}
{{- if (hasKey . "name") -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "Name: " -}}
{{- end -}}

{{/* editor */}}
{{- $editor := "vi" -}}
{{- if lookPath "nvim" -}}
{{-   $editor = "nvim" -}}
{{- else if lookPath "vim -}}
{{-   $editor = "vim" -}}
{{- end -}}

{{/* boolean flag */}}
{{- $config_python_format_tools := "false" -}}
{{- if (hasKey . "config_python_format_tools") -}}
{{-   $config_python_format_tools = .config_python_format_tools -}}
{{- else -}}
{{-   $config_python_format_tools = promptBool "Config python formatting tools" -}}
{{- end -}}

{{- $personal_secrets := "false" -}}
{{- if (hasKey . "personal_secrets") -}}
{{-   $personal_secrets = .personal_secrets -}}
{{- else -}}
{{-   $personal_secrets = promptBool "Decrypt encrypted data" -}}
{{- end -}}

{{- $alacritty := "false" -}}
{{- if (hasKey . "alacritty") -}}
{{-   $alacritty = .alacritty -}}
{{- else -}}
{{-   $alacritty = promptBool "Config alacritty" -}}
{{- end -}}

{{- $install_more_packages := "false" -}}
{{- if (hasKey . "install_more_packages") -}}
{{-   $install_more_packages = .install_more_packages -}}
{{- else -}}
{{-   $install_more_packages = promptBool "Install more packages" -}}
{{- end -}}


data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  editor: {{ $editor }}
  config_python_format_tools: {{ $config_python_format_tools }}
  personal_secrets: {{ $personal_secrets }}
  alacritty: {{ $alacritty }}
  install_more_packages: {{ $install_more_packages }}
  has_tmux: {{ if lookPath "tmux" }}true{{ else }}false{{ end }}
  has_neovim: {{ if eq $editor "nvim" }}true{{ else }}false{{ end }}
  has_pip: {{ if lookPath "pip3" }}true{{ else }}false{{ end }}
diff:
  exclude:
    - scripts
encryption: "gpg"
gpg:
  recipient: 1A5EA161
