[user]
    name = {{ .git.name | quote }}
    email = {{ .git.email | quote }}
    signingkey = {{ .gpg.gpg_sign_key_id }}

[core]
    editor = {{ .editor }}
    excludesfile = ~/.gitignore_global
    pager = less -r
[pull]
    rebase = true

