[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = {{ if .work_machine }} {{ .gpg.work_git_key_id }} {{ else }}{{ .gpg_key_id }}{{ end }}

[core]
    editor = {{ .editor }}
    excludesfile = ~/.gitignore_global
[pull]
    rebase = true

