# =============================================================================================== #
#                                                                                                 #
#  __      __.__  __  .__         .___              ___ ___              ___________              #
# /  \    /  \__|/  |_|  |__    __| _/______  _  __/   |   \ __ _______  \_   _____/ _______  __  #
# \   \/\/   /  \   __\  |  \  / __ |/ __ \ \/ \/ /    ~    \  |  \__  \  |    __)_ /    \  \/ /  #
#  \        /|  ||  | |   Y  \/ /_/ \  ___/\     /\    Y    /  |  // __ \_|        \   |  \   /   #
#   \__/\  / |__||__| |___|  /\____ |\___  >\/\_/  \___|_  /|____/(____  /_______  /___|  /\_/    #
#        \/                \/      \/    \/              \/            \/        \/     \/        #
#                                                                                                 #
# =============================================================================================== #


# ---------
# znap
# ---------

# Download znap, if it's not there yet.
[[ -f ~/.znap/zsh-snap/znap.zsh ]] || {
  mkdir ~/.znap
  git clone --depth 1 -- https://github.com/marlonrichert/zsh-snap.git ~/.znap/zsh-snap
}

source ~/.znap/zsh-snap/znap.zsh

{{ if eq .zsh_theme "pure" -}}
znap prompt sindresorhus/pure
zstyle :prompt:pure:git:stash show yes
{{- else if and (eq .zsh_theme "starship") (lookPath "starship") }}
znap eval starship "starship init zsh --print-full-init"
znap prompt
{{- end }}

znap source zdharma-continuum/fast-syntax-highlighting
znap source zsh-users/zsh-autosuggestions
znap source zsh-users/zsh-completions

znap source ohmyzsh/ohmyzsh lib/completion.zsh
znap source ohmyzsh/ohmyzsh lib/history.zsh
znap source ohmyzsh/ohmyzsh lib/key-bindings.zsh

# ssh-agent
znap source ohmyzsh/ohmyzsh plugins/ssh-agent
zstyle :omz:plugins:ssh-agent agent-forwarding yes
 

# --------
# misc
# --------

ZSH=$HOME/.zsh
fpath+=$ZSH/completions

# path env functions
source $ZSH/shell_config/exports.sh

{{ if lookPath "thefuck" }}
# thefuck
znap eval fuck 'thefuck --alias'
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".fzf" )}}
# fzf
source <(fzf --zsh)
{{- end }}

{{ if lookPath "zoxide" }}
# zoxide
znap eval zoxide 'zoxide init zsh'
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".rye" )}}
# rye
pathprepend $HOME/.rye/shims
znap fpath _rye 'rye self completion -s zsh'
{{- end }}

{{ if stat (joinPath .chezmoi.homeDir ".atuin") }}
# atuin
source "$HOME/.atuin/bin/env"
znap eval atuin "atuin init zsh"
znap fpath _atuin 'atuin gen-completions --shell zsh'
{{ end }}

# alias
source $ZSH/shell_config/alias.sh

# remove duplicate path
normalize_path

