alias l='ls -lahF'

{{ if lookPath "exa" }}
alias ls='exa'
alias tree='exa -T'
{{ end }}


# vim/nvim
{{ if contains "nvim" .editor }}
alias vim='nvim'
{{ end }}

# trash-cli
{{ if lookPath "trash" }}
alias rm='trash'
{{ else }}
alias rm='rm -i'
{{ end }}
