# -------------------------------------------------------------------------------
# $PATH settings
# -------------------------------------------------------------------------------
# refer to: http://superuser.com/questions/39751/add-directory-to-path-if-its-not-already-there
pathappend() {
  for _path in "$@"
  do
    if [ -d "$_path" ] && [[ ":$PATH:" != *":$_path:"* ]]; then
        PATH="${PATH:+"$PATH:"}$_path"
    fi
  done
}

pathprepend() {
  _paths=("$@")
  for ((i=$#; i>0; i--));
  do
    _path=${_paths[$i]}  # for bash & zsh
    if [ -d "$_path" ] && [[ ":$PATH:" != *":$_path:"* ]]; then
        PATH="$_path${PATH:+":$PATH"}"
    fi
  done
}

pathprepend_f() {
  # force prepend path no matter if it already exists in $PATH
  _paths=("$@")
  for ((i=$#; i>0; i--));
  do
    _path=${_paths[$i]}  # for bash & zsh
    if [ -d "$_path" ]; then
        PATH="$_path${PATH:+":$PATH"}"
    fi
  done
}

normalize_path() {
  # remove duplicate items in $PATH
  # shell will auto add some path to $PATH, which cause duplicate paths
  paths=""
  declare -a _paths=( $(echo $PATH | tr ':' ' ') )
  for _path in "${_paths[@]}"; do
    if [[ ":$paths:" != *":$_path:"* ]]; then
      paths="${paths:+"$paths:"}$_path"
    fi
  done
  unset PATH
  PATH=$paths
}

pathprepend_f /usr/local/bin /usr/local/sbin
pathprepend /bin /usr/bin /sbin /usr/sbin
normalize_path


# -------------------------------------------------------------------------------
# other environment variables
# -------------------------------------------------------------------------------
export TZ='Asia/Shanghai'
export EDITOR={{- .editor | quote -}}
export LANG='en_US.UTF-8'
export LC_CTYPE='en_US.UTF-8'

# rg & fzf
{{ if contains "rg" (output "command" "-v" "rg" )}}
# Setting rg as the default source for fzf
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow -g "!{.git}/*" 2> /dev/null'
# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
{{ end }}

export POETRY_HOME={{- joinPath .chezmoi.homeDir ".poetry" -}}

# for bin in .local
pathappend $HOME/.local/bin
